<% include partials/header %>

<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Welcome to Neo's Air Jordan Locker!</h1>
    <p>View all the AJs all around the world.</p>
    <p>
        <a class="btn btn-primary btn-large" href="/AJFootLocker">View All of My AJs</a>
    </p>
    </div>
</header>

<% include partials/footer %>